misc/adage.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="Adage">
    <xs:sequence>
      <xs:element name="words" type="xs:string"/>
      <xs:element name="wordCount" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

